table{
    border-collapse: collapse;border-spacing: 0;border-color: black;
    border-style: solid;border-width: 1px;font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;overflow: hidden;word-break: normal;
}
.tg1{
    border-collapse: collapse;border-spacing: 0;border-color: black;
    border-style: solid;border-width: 1px;font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;overflow: hidden;padding: 20px 100px;word-break: normal;
}
.tg2{
    border-collapse: collapse;border-spacing: 0;border-color: black;
    border-style: solid;border-width: 1px;font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;overflow: hidden;padding: 20px 100px;word-break: normal;
}
.tg3{
    border-collapse: collapse;border-spacing: 0;border-color: black;
    border-style: solid;border-width: 1px;font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;overflow: hidden;padding: 110px 100px;word-break: normal;
}
.tg4{
    border-collapse: collapse;border-spacing: 0;border-color: black;
    border-style: solid;border-width: 1px;font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;overflow: hidden;padding: 20px 100px;word-break: normal;
}
.tg5{
    border-collapse: collapse;border-spacing: 0;border-color: black;
    border-style: solid;border-width: 1px;font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;overflow: hidden;padding: 20px 100px;word-break: normal;
}