html, body {
    margin:0;
    height:100%;
  }
  .bg-container {
      background-image: url(/Users/bb/Documents/LogosWebL/pages/lesson5-2/images/bg.jpg);
    width:100%; 
    height:100%;
    overflow: hidden;
  }
.d{
    background-color: lightpink;
    border-style: double;
    border-color: black;
    border-width: 4px;
    margin: 10px 10px 10px 50%;
    padding: 10px;  
}
#p1{
    color:red;
    text-align: justify;
}
#p2{
    font-style: italic;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
h2{
    text-align: center;
    color:blue;
}
h1{
    color:white;
    text-decoration: underline;
    font-style: italic;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
